<div id="presentation-component">
    <div class="personal-photo" data-aos="zoom-in" data-aos-duration="1500">
        <img src="images/catjpg.jpg" alt="Photo de profil">
    </div>
    <div class="welcome">
        <div class="greetings-detail" data-aos="fade-down" data-aos-delay="200">
            À PROPOS
        </div>
        <div class="job-title" data-aos="fade-right" data-aos-delay="400">
            Ingénieur logiciel & DevOps
        </div>
        <div class="personal-name" data-aos="fade-right" data-aos-delay="600">
            <h1 class="gradient-name">Ahmed Rzeigui</h1>
        </div>
        <br>
        <div class="personal-debrief" data-aos="fade-up" data-aos-delay="800">
            Étudiant ingénieur passionné par le <span>développement logiciel</span> et les <span>pratiques
                DevOps</span>,
            je m’investis dans la création de solutions fiables . <br> Avec un fort intérêt pour le cloud,
            l’automatisation et l’intégration continue <br><br>
            <div class="cen">Faites défiler pour en savoir plus 🚀</div>
        </div>
    </div>

    <div class="arrow-container">
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>