<div id="presentation-component">
    <div class="personal-photo">
        <img src="images/ahmed.jpg" alt="Photo de profil">
    </div>
    <div class="personal-name">
        <h1>Ahmed Rzeigui</h1>
    </div>
    <div class="personal-goal">
        Actuellement à la recherche d'une alternance (contrat de professionnalisation) d’un an à partir de septembre
        2025,
        je souhaite intégrer une entreprise en tant qu'ingénieur logiciel ou DevOps.
    </div>

    <div class="personal-description">
        Élève ingénieur en informatique à l’ISIMA (Clermont-Ferrand), je suis en 2ᵉ année du cycle ingénieur (Bac+4),
        équivalent à un Master 1, avec une spécialisation en Génie Logiciel et DevOps.<br><br>
        Actuellement en stage chez Siemens PLM Software à Lyon, je travaille sur le développement
        et l'automatisation de tests de non-régression. Mon objectif : allier rigueur, innovation et impact concret
        dans les projets logiciels.
    </div>

</div>