<div id="presentation-component">
    <div class="personal-photo">
        <img src="images/ahmed.jpg" alt="Photo de profil">
    </div>
    <div class="welcome">
        <div class="greetings-detail">
            <h1><span>Bonjour</span> 👋 </h1>ravi de vous <span> rencontrer </span> !
            Je m'appelle ,
        </div>
        <div class="personal-name">
            <h1>Ahmed Rzeigui</h1>
        </div>
    </div>
    <div class="personal-debrief">
        Je suis un ingénieur en formation, passionné par le <span> développement logiciel</span> et le <span>
            DevOps</span>. <br>
        <br>
        <div class="cen">Faites défiler pour en savoir plus sur moi 🚀</div>

    </div>

    <div class="arrow-container">
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>