<app-navbar></app-navbar>
<div class="components">
    <app-presentation></app-presentation>
    <app-new-template></app-new-template>
    <app-projects></app-projects>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-contact></app-contact>
</div>
<!-- <app-navbar></app-navbar>
<div class="components">
    <div data-aos="fade-zoom-in">
        <app-presentation></app-presentation>
    </div>
    <div data-aos="fade-right">
        <app-projects></app-projects>
    </div>
    <div data-aos="flip-left">
        <app-experience></app-experience>
    </div>
    <div data-aos="fade-down">
        <app-education></app-education>
    </div>
    <app-contact></app-contact>
</div> -->