<div id="education-container">
    <div class="education-image-container" data-aos="fade-right" data-aos-duration="1000">
        <img src="./../../../images/edu.jpg" alt="Education Image" class="education-image">
    </div>
    <div class="education-detail">
        <div class="education-title" data-aos="fade-down">
            Formation
        </div>
        <br>
        <div class="education-component one" data-aos="fade-left" data-aos-delay="100">

            <div class="education-upper-component">
                <div class="education-component-title">
                    Isima , Clermont-Ferrand , France
                </div>
                <div class="education-component-time-line">
                    2023-2026
                </div>
            </div>
            <div class="education-component-brief-description">
                Engineering school in computer science and applied mathematics
            </div>

        </div>
        <div class="education-component two" data-aos="fade-left" data-aos-delay="200">
            <div class="education-upper-component">
                <div class="education-component-title">
                    OTH Regensbourg , Allemagne
                </div>
                <div class="education-component-time-line">
                    Juin 2024 - Septembre 2024
                </div>
            </div>
            <div class="education-component-brief-description">
                Exchange semester in computer science and applied mathematics
            </div>
        </div>
        <div class="education-component three" data-aos="fade-left" data-aos-delay="300">
            <div class="education-upper-component">
                <div class="education-component-title">
                    IPEST , Tunisie
                </div>
                <div class="education-component-time-line">
                    2021 - 2023
                </div>
            </div>
            <div class="education-component-brief-description">
                Preparatory classes for engineering schools
            </div>
        </div>
        <div class="education-component four" data-aos="fade-left" data-aos-delay="400">
            <div class="education-upper-component">
                <div class="education-component-title">
                    Lycée Pilote Kef , Tunisie
                </div>
                <div class="education-component-time-line">
                    2017-2021
                </div>
            </div>
            <div class="education-component-brief-description">
                bachelor's degree in mathematics and physics
            </div>
        </div>

    </div>
</div>