nav {
  background-color: aquamarine;
  border: solid black;
  border-radius: 10px;
  width: 99%;
  height: 40px;
  /* position: fixed; */ /* pour que navbar reste meme si on scroll en bas */
  top: 5px;
}
nav ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li:hover {
  background-color: aqua;
}
#nav-contact {
  margin-left: auto;
}
