<div class="work-container">
    <div class="work-title">
        Expériences Professionnelles
    </div>

    <div class="work-road-map">
        <div class="roadmap-path"></div>
        <div class="experience">
            <div class="job-date-1">
                03/2025 - 07/2025
            </div>
            <div class="svg-icon-1">
                <img src="images/config.svg" alt="" style="width:40px; height:40px;">
                <div class="job-description">job discription</div>
            </div>
            <div class="job-title">
                Ingénieur Automatisation logicielle
            </div>
            <div class="job-company-place">
                Siemens - lyon
            </div>
        </div>
 
        <div class="experience">
            <div class="job-date-2">
                En cours
            </div>
            <div class="svg-icon-2">
                <img src="images/backend.svg" alt="" style="width:40px; height:40px;">
            </div>
            <div class="job-title">
                Ingénieur Backend .Net
            </div>
            <div class="job-company-place">
                Michelin - Clermont Ferrand
            </div>
        </div>
    </div>

</div>