/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(90deg, #000000 5%, #2e014a 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
