.component__style.contact-component {
  border: solid black;
  width: 100%;
  padding: 10px 20px;
  /* margin-top: 100%; */
  margin-bottom: 0;
  /* bottom: 0; */
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* position: fixed; */
  /* position: sticky; */
  background-color: #4b0082;
}

.component__description {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

#contact-component {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.con1,
.con2,
.con3,
.con4 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  color: white;
  background-color: #251c3a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

.con1:hover,
.con2:hover,
.con3:hover,
.con4:hover {
  background-color: #7e3ff2;
}
