<div class="component__style contact-component">
    <div class="component__description">
        <div id="contact-component">
            <div class="con1">
                E-mail 
                <span class="tooltip-email">ahmedrzeigui52&#64;gmail.com</span>

            </div>
            <div class="con2">
                <a href="https://www.linkedin.com/in/ahmed-rzeigui" target="_blank"> Linkdin</a>
            </div>
            <div class="con3">
                <a href="https://github.com/Ahmed103c" target="_blank"> Github</a>
            </div>
            <div class="con4">
                <a href="images/CV/CV_Rzeigui_Ahmed.pdf" target="_blank">Télécharger le CV</a>
            </div>
        </div>
    </div>
</div>