#projects-component {
  color: white;
  margin-top: 15px;
  height: 90vh;
  padding: 15px;
  border-radius: 10px;
}
.navigation {
  color: white;
  display: grid;
  grid-template-columns: 0.05fr 2fr 0.05fr;
  grid-template-rows: minmax(100px, auto);
  gap: 10px;
}
.left {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
}
.right {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  grid-column: 3;
  grid-row: 1;
}
.card-project {
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-column: 2;
  grid-row: 1 / 50;
}
.card-project-inner-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 150px) auto;
  gap: 10px;
}
.project-photo {
  grid-column: 1;
  grid-row: 1/7;
}
.project-photo img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.project-name {
  grid-column: 2;
  grid-row: 1/2;
}
.project-description {
  grid-column: 2;
  grid-row: 2/4;
}
