#projects-component {
  color: white;
  margin-top: 15px;
  height: 90vh;
  padding: 15px;
  /* background-color: rgb(22, 155, 203); */
  border: solid rgb(9, 77, 194);
  border-radius: 10px;
}
.navigation {
  color: white;
  display: grid;
  grid-template-columns: 0.05fr 2fr 0.05fr;
  grid-template-rows: minmax(100px, auto);
  gap: 10px;
}
.left {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  /* background-color: brown; */
  grid-column: 1;
  grid-row: 1;
}
.right {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  /* background-color: brown; */
  grid-column: 3;
  grid-row: 1;
}
.card-project {
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: solid black;
  grid-column: 2;
  grid-row: 1 / 50;
}
.card-project-inner-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: minmax(550px, auto); */
  grid-template-rows: repeat(3, 150px) auto;
  gap: 10px;
}
.project-photo {
  border: solid violet;
  grid-column: 1;
  grid-row: 1/10;
}
.project-name {
  border: solid violet;
  grid-column: 2;
  grid-row: 1/2;
}
.project-description {
  border: solid violet;
  grid-column: 2;
  grid-row: 2/4;
}
