<div id="experience-component">
    Experience<br><br>
    <div class="experience-container">
        <div class="company-logo">
            <div class="company-name">Siemens</div>
        </div>

        <div class="skill-tree">
            <h2 split-by="letter" letter-animation="breath"> skill-tree</h2>
            <ul>
                <li> Python </li>
                <li> C / C++ </li>
                <li> CI/CD Jenkins </li>

            </ul>
        </div>
        <div class="experience-description">
            1er expérience proffisionelle , ou j'ai intégré une équipe resposable de developpemet
            et de Test pour le Logoicel Amesim .<br>
            on travaille dans un milieu de méthode agile
            on parle souvent avec d'autre équipe physqiue pour encadrer leur besoin de termes de test
            ce qui me permet de bien modéliser et développer le générateur automatique des sous modèles
            pour bien optimiser la phase de test de non régression

        </div>
        <div class="company-location">
            📍19 Bd Jules Carteret, 69007 Lyon
        </div>
    </div>
</div>