<div class="work-container">
    <div class="work-title">
        Expériences Professionnelles
    </div>

    <div class="work-road-map">
        <div class="roadmap-path"></div>
        <div class="experience">
            <div class="job-date-1">
                03/2025 - 07/2025
            </div>
            <div class="svg-icon-1">
                <img src="images/config.svg" alt="" style="width:40px; height:40px;">
                <div class="job-description" [class.visible]="openId === 1">
                    <div class="job-description-title">
                        Ingénieur Automatisation logicielle
                    </div>
                    <div class="job-description-work">
                        J'ai travaillé sur l'automatisation des processus de création des modèles physiques unitaires
                        pour optimiser la phase des tests de non-régression chez Siemens.<br><br>
                        Technologies utilisées : Python, Yaml , JSON , C/C++ .
                    </div>
                </div>
            </div>
            <div class="job-title">
                Ingénieur Automatisation logicielle
            </div>
            <div class="job-company-place">
                Siemens - lyon
            </div>
            <button  class="savoir-plus-button" (click)="toggleDescription(1)">
                {{ openId === 1 ? 'Fermer' : 'Savoir plus' }}
            </button>
        </div>
 
        <div class="experience">
            <div class="job-date-2">
                En cours
            </div>
            <div class="svg-icon-2">
                <img src="images/backend.svg" alt="" style="width:40px; height:40px;">
                    <div class="job-description" [class.visible]="openId === 2">
                        <div class="job-description-title">
                            Ingénieur Backend .Net
                        </div>
                        <div class="job-description-work">
                            Actuellement, je travaille en tant qu'ingénieur backend .Net chez Michelin. Mon rôle principal est de
                            développer et maintenir des services backend robustes et évolutifs pour soutenir les applications
                            internes de l'entreprise.<br><br>
                            Technologies utilisées : C# .Net, SQL Server, Azure DevOps, RESTful APIs.
                        </div>
                </div>
            </div>
            <div class="job-title">
                Ingénieur Backend .Net
            </div>
            <div class="job-company-place">
                Michelin - Clermont Ferrand
            </div>
            <button class="savoir-plus-button" (click)="toggleDescription(2)">
                {{ openId === 2 ? 'Fermer' : 'Savoir plus' }}
            </button>
        </div>
    </div>
</div>