#education-component {
  margin-top: 15px;
  /* height: 90vh; */
  padding: 15px;
  border-radius: 10px;
}
.education-title {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  color: #f6c1fc;
}
.education-timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.education-timeline::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 6px;
  height: 100%;
  background-color: rgb(134, 0, 251);
  margin-left: -3px;
  z-index: 1;
  top: 0;
  animation: moveline s linear forwards;
}
.arrow1 {
  /* display : inline-block; */
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #4b0082;
  position: absolute;
  right: -14px;
  z-index: 1;
  top: 11px;
}
.arrow2 {
  /* display : inline-block; */
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #4b0082;
  position: absolute;
  left: -14px;
  z-index: 1;
  top: 11px;
}
.education-section {
  font-size: 1.5em;
  font-family: "Roboto", serif;
  color: white;
  padding: 10px;
  border-radius: 15px;
  background-color: #4b0082;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
.education-section-logo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  /* max-width: 10px; /* adapte selon ce qui te paraît bien */
  /* max-height: 10px; */
  /* width: auto;
  height: auto; */
}
.education-section-logo img {
  max-width: 150px;
  max-height: 100px;
  width: auto;
  height: auto;
  /* object-fit: contain; garde les proportions et évite les déformations */
}
@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.education-section:nth-child(1) {
  animation-delay: 0s;
}
.education-section:nth-child(2) {
  animation-delay: 1s;
}
.education-section:nth-child(3) {
  animation-delay: 2s;
}
.education-section:nth-child(4) {
  animation-delay: 3s;
}
.education-section.left {
  /* border: solid white; */
  /* margin-right: 10px; */
  left: -20px;
}

.education-section.right {
  left: 51.5%;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
