<div id="education-component">
    <h3>Education</h3>
    <!-- <div class="edu1">
        ISIMA
    </div>
    <div class="edu2">
        OTH
    </div>
    <div class="edu3">
        IPEST
    </div>
    <div class="edu4">
        LPK
    </div> -->


    <div class="timeline">
        <div class="timeline-content">
            <div class="timeline-period">2021</div>
            <div class="timieline-title">Baccalauréat</div>
            spécialité en mathématique et physique

        </div>

        <div class="timeline-content">
            <div class="timeline-period">2021-2023</div>
            <div class="timieline-title">IPEST</div>
            Classe préparoitoire aux études scientifiques
        </div>

        <div class="timeline-content">
            <div class="timeline-period">2023-2026</div>
            <div class="timieline-title">ISIMA</div>
            école d'ingénieur en informatique
            spécialité en génie logiciel
        </div>

        <div class="timeline-content">
            <div class="timeline-period">2024</div>
            <div class="timieline-title">OTH-Regensbourg</div>
            Summerschool en optimisation en ligne

        </div>

        <div class="timeline-content">
            <div class="timeline-period">2000 - 2002</div>
            <div class="timieline-title">Title</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non nunc eget magna dictum egestas.
            Nam
            sed tempor lectus, suscipit mollis erat. Aenean dignissim sem nec orci tempus lacinia.
        </div>
    </div>
</div>