<div id="education-component">
    <div class="education-title">
        Education
    </div>
    <div class="education-timeline">
        <!-- /*****************************************************/ -->
        <div class="education-section left one">
            <div class="title">
                Baccalauréat Scientifique
            </div>
            <div class="date_localisation">
                📍2011 Tunisie
            </div>
            <div class="type-institut">
                Lycée pilote El KEF
            </div>
            <div class="description">
                Solide formation en mathématiques , informatique et sciences physiques.
                Mention trés bien
            </div>
            <div class="arrow1"></div>
        </div>
        <!-- /*****************************************************/ -->
        <div class="education-section right two">
            <div class="education-section-logo">
                <img src="images/Logo/IPEST.png" alt="logo ipest">
            </div>
            <div class="title">
                IPEST
            </div>
            <div class="date_localisation">
                📍2021-2023 Tunisie
            </div>
            <div class="type-institut">
                Classes Préparatoires aux grandes écoles (CPGE)
            </div>
            <div class="description">
                Préparation aux concours des grandes écoles d’ingénieur avec un focus intense sur les mathématiques,
                la physique et l’informatique.<br>
                Admis aux concours CCINP et Mines-Télécom
            </div>
            <div class="arrow2"></div>
        </div>
        <!-- /*****************************************************/ -->
        <div class="education-section left three">
            <div class="education-section-logo">
                <img src="images/Logo/ISIMA.png" alt="logo isima">
            </div>
            <div class="title">
                ISIMA
            </div>
            <div class="date_localisation">
                📍2023-2026 Clermont-Ferrand ,France
            </div>
            <div class="type-institut">
                École d’ingénieur en Informatique
            </div>
            <div class="description">
                <strong> Spécialisation en génie logiciel :</strong> modélisation, développement web et logiciel,
                gestion de projets
                informatiques, et intégration de systèmes hétérogènes. Développement de plusieurs projets concrets
                en Java, C++, Spring Boot, Angular, etc.
            </div>
            <div class="arrow1"></div>
        </div>
        <!-- /*****************************************************/ -->
        <div class="education-section right four">
            <div class="education-section-logo">
                <img src="images/Logo/OTH.png" alt="logo oth">
            </div>
            <div class="title">
                OTH Regensburg
            </div>
            <div class="date_localisation">
                📍Juin 2024 - Septembre 2024 , Regensbourg , Allemagne
            </div>
            <div class="type-institut">
                Université de sciences appliquées
            </div>
            <div class="description">
                <strong>Summerschool :</strong> formation sur le concept d'optimisation en ligne , apprendre
                des techniques de résolution de problèmes en temps réel
            </div>
            <div class="arrow2"></div>
        </div>
    </div>
</div>